*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(52, 174, 235)
}

.container{
    height:75vh;
    width:40vw;
    background:white;
    padding-left:20px;
 
    
}
.big-contain{
    display:flex;
    justify-content: center;
    height:500px;
    align-items: center;
}
#question{
    margin-bottom:20px;
}
.opt{
    margin-bottom:20px;
    padding:10px;
    width:90%;
    box-sizing: border-box;
    border-radius:10px;
    background-color: rgb(52, 214, 235);
    border:none;
    transition:0s;
    cursor:pointer;
}
#opt1:hover{
    border:2px solid black;
}
#opt2:hover{
    border:2px solid black;
}
#opt3:hover{
    border:2px solid black;
}
#opt4:hover{
    border:2px solid black;
}

#nextbtn{
    margin-left:40%;
    padding:10px 20px;
    background:rgb(235, 150, 52);
    border-radius:6px;
    border:none;
    transition:0s;
    cursor:pointer;
}
#nextbtn:hover{
    border:2px solid black;
}
.hidden {
    display:none;
}



